# Environment
APP__ENV=staging

# Server
APP__SERVER__PORT=8000

# Database
APP__DATABASE__ENGINE=postgres
APP__DATABASE__HOST=localhost
APP__DATABASE__NAME=<db_name>
APP__DATABASE__PASSWORD=<db_password>
APP__DATABASE__PORT=5433
APP__DATABASE__USER=<db_user>

# JWT
APP__AUTH__JWT_ACCESS_EXPIRATION_TIME_IN_HOURS=1
APP__AUTH__JWT_ONE_TIME_PASSWORD_LIFETIME_IN_MINUTES=5
APP__AUTH__JWT_SECRET="<generate_a_strong_random_secret>"
APP__AUTH__JWT_SESSION_EXPIRATION_TIME_IN_HOURS=24

# AWS S3
APP__AWS__ACCESS_KEY=<aws_access_key>
APP__AWS__SECRET_ACCESS_KEY=<aws_secret_access_key>
APP__AWS__BUCKET_URL=<aws_bucket_url>
APP__AWS__S3_BUCKET_REGION=<aws_s3_bucket_region>
APP__AWS__S3_BUCKET_NAME=<aws_s3_bucket_name>
